<h2 class="mb-4 font-bold text-3xl">Current Sponsors:-</h2>
<h2 class="mb-4 font-bold text-2xl">Monthly</h2>

<h3 class="mb-4 font-bold text-xl">Diamond</h3>
<div class="grid grid-cols-2 gap-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-6 items-center place-items-center my-16">
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
</div>

<h3 class="mb-4 font-bold text-xl">Platinum</h3>
<div class="grid grid-cols-2 gap-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-6 items-center place-items-center my-16">
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
</div>

<h3 class="mb-4 font-bold text-xl">Gold</h3>
<div class="grid grid-cols-2 gap-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-6 items-center place-items-center my-16">
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
</div>

<h3 class="mb-4 font-bold text-xl">Silver</h3>
<div class="grid grid-cols-2 gap-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-6 items-center place-items-center my-16">
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
</div>

<h3 class="mb-4 font-bold text-xl">Bronze</h3>
<div class="grid grid-cols-2 gap-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-6 items-center place-items-center my-16">
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
</div>

<h3 class="mb-4 font-bold text-xl">Software Subscription</h3>
<div class="grid grid-cols-2 gap-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-6 items-center place-items-center">
    <a href="https://balsamiq.com/givingback/nonprofits/" target="_blank">
        <img src="https://balsamiq.com/assets/company/brandassets/balsamiq-logo-screen-1000x500.png" alt="Balasmiq" width="180">
    </a>
    <a href="https://www.sketch.com/education/" target="_blank">
        <img src="https://cdn.sketch.com/logo/horizontal_onetrust_trans.png" alt="Balasmiq" width="180">
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
</div>


<h2 class="mt-12 mb-4 font-bold text-2xl">One Time</h2>

<h3 class="mb-4 font-bold text-xl">The God</h3>
<div class="grid grid-cols-2 gap-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-6 items-center place-items-center my-16">
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
</div>

<h3 class="mb-4 font-bold text-xl">Celestial God</h3>
<div class="grid grid-cols-2 gap-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-6 items-center place-items-center my-16">
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
</div>

<h3 class="mb-4 font-bold text-xl">Demi God</h3>
<div class="grid grid-cols-2 gap-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-6 items-center place-items-center my-16 mb-24">
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
    <a href="/sponsor">
        <span class="w-44 bg-gray-200 px-12 py-8">Your Logo</span>
    </a>
</div>
