<footer class="mx-4 text-slate-600 text-sm">
  <div class="space-y-1">
    <p>
      &copy; 2022 <a href="/" class="hover:underline text-blue-600">Free Tech Education</a>. All rights reserved.
    </p>
    <p>
      All trademarks, logos and brand names are the property of their respective owners.
    </p>
    <p>
      Built using Bridgetownrb, TailwindCSS, and Markdown. Hosted on Netlify.
    </p>
    <p class="pt-4">
    	<a href="https://twitter.com/freeteched"><img src="https://img.shields.io/twitter/url/https/twitter.com/freeteched.svg?style=social&label=Follow%20%40freeteched" /></a>
    </p>
  </div>
  <section class="-mx-4 -mb-12 mt-12 px-4 py-12 bg-slate-500 text-slate-400 space-y-4">
    <p>
        <span class="font-bold">Free Tech Education</span> is an educational initiative headed by an IT veteran <a href="https://www.chetanmittaldev.com" target="_blank" class="hover:underline">'Chetan Mittal'</a> providing education for free on various software development technologies, frameworks, and tools to students at various institutions in India and other developing nations. Students from class 6th onwards are educated and trained on few selected technologies so that a) they adopt these technologies early during their learning stage b) and after their PU or Graduation they are well-versed in these technologies to learn further or land a job.
    </p>
    <p>
        Students learn mostly these technologies covering:- HTML, CSS (Tailwind), Javascript, Typescript, Ruby, Ruby on Rails, VueJS, NuxtJS, VueRouter, Pinia, Jest, Vite, JSON, REST APIs, Firebase, SQL, PostgreSQL, CouchDB, Golang, Rust, Ethereum, and Hyperledger.
    </p>
    <p>
        The courses taught under <span class="font-bold">Free Tech Education</span> are not part of any college or university curriculum, and are 100% dependent on the sponsors. If you are interested in sponsoring, this nice FREE live in-person (offline and online) educational training, either directly or under your corporate's CSR initiative then you can <a href="mailto:sponsor@freetecheducation.org" class="hover:underline">contact us</a> by sending us an email. 
    </p>
  </section>
</footer>
