<section class="mx-4">
    <hr class="mt-8 mb-12">
    <h2 class="mb-4 font-bold text-2xl">Courses:-</h2>
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 mb-12 items-center place-items-center break-all sm:break-normal md:break-normal lg:break-normal xl:break-normal">
        <div class="text-center">
            <a href="https://www.gpsred.org/" target="_blank">
                <center><img src="/images/gpsred.png" alt="GPSRED" title="GPSRED - Goals Management web app" class="mb-3"></center>
                <p>Web Application development course in VueJS fullstack framework</p>
            </a>
        </div>
        <div class="text-center">
            <a href="https://www.rightapp4u.com/" target="_blank" class="content-center">
                <center><img src="/images/ra-logo.png" alt="RightApp4u - Notes Taking app" title="RightApp4u - Notes Taking app" class="mb-3" width=82></center>
                <p>Web/Mobile/Desktop Application development course in VueJS fullstack framework</p>
            </a>
        </div>
        <div class="text-center">
            <p class="text-xl sm:text-2xl md:text-3xl lg:4xl font-bold text-slate-900 pb-3">Sirtifikate<sub class="text-xs text-red-600">coming soon!</sub></p>
            <p>DApp Application development course in Ethereum fullstack framework using VueJS for frontend</p>
        </div>
        <div class="text-center">
            <a href="https://www.nexthrbase.com/" target="_blank" class="content-center">
                <center><img src="/images/nhb-logo.png" alt="NextHRbase - Next Gen HR app" title="NextHRbase - Next Gen HR app" class="mb-3" width=240></center>
                <p>Web (and mobile) Application development course in RubyonRails fullstack framework</p>
            </a>
        </div>
    </div>

    <h2 class="mb-4 font-bold text-2xl">Technologies:-</h2>
    <div class="grid grid-cols-2 gap-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-6 mb-12 items-center place-items-center">
        <img src="/images/technologies/vuejs.png" alt="VueJS" width="120">
        <img src="/images/technologies/nuxt.png" alt="NuxtJS" width="120">
        <img src="/images/technologies/pinia.svg" alt="Pinia" title="Pinia" width="90">
        <img src="/images/technologies/jest.png" alt="Jest testing framework" title="Jest testing framework" width="120">
        <img src="/images/technologies/vite.png" alt="Vite" title="Vite - VueJS Tooling" width="120">
        <img src="/images/technologies/tailwind.svg" alt="TailwindCSS" width="150">
        <img src="/images/technologies/firebase.png" alt="Firebase" width="200">
        <img src="/images/technologies/couchdb.png" alt="CouchDB" width="120">
        <img src="/images/technologies/electron.png" alt="ElectronJS" width="180">
        <img src="/images/technologies/ionic.png" alt="Ionic Framework" width="180">
        <img src="/images/technologies/markdown.png" alt="Markdown" width="120">
        <img src="/images/technologies/rubyonrails.png" alt="Ruby on Rails" width="180">
        <img src="/images/technologies/postgresql.webp" alt="PostgreSQL" width="120">
        <img src="/images/technologies/golang.png" alt="Go Lang" width="150">
        <img src="/images/technologies/rust.png" alt="Rust Programming Language" title="Rust Programming Language" width="120">
        <img src="/images/technologies/ethereum.png" alt="Ethereum" width="150">
        <img src="/images/technologies/hyperledger.png" alt="Hyperledger" width="120">
    </div>
</section>

<footer class="mx-4 text-slate-600 text-sm">
  <div class="space-y-1">
    <p>
      &copy; 2022 Chetan Mittal <i>d/b/a</i> <a href="/" class="hover:underline text-blue-600">Free Tech Education</a>. All rights reserved.
    </p>
    <p>
      All trademarks, logos and brand names are the property of their respective owners.
    </p>
    <p>
      Built using Bridgetownrb, TailwindCSS, and Markdown. Hosted on Netlify.
      <br> <em class="text-xs text-amber-500">Version 1.0</em>
    </p>
    <p class="pt-4">
    	<a href="https://twitter.com/freeteched" target="_blank"><img src="https://img.shields.io/twitter/url/https/twitter.com/freeteched.svg?style=social&label=Follow%20%40freeteched" alt="Follow FreeTechEducation on Twitter" /></a>
    </p>
  </div>
  <section class="-mx-4 -mb-12 mt-12 px-4 py-12 bg-slate-500 text-slate-400 space-y-4">
    <p>
        <span class="font-bold">Free Tech Education</span> is an educational initiative headed by an IT veteran <a href="https://www.chetanmittaldev.com" target="_blank" class="hover:underline">'Chetan Mittal'</a> providing education for free on various software development technologies, frameworks, and tools to students at various institutions in India and other developing nations. Students from class 6th onwards are educated and trained on few selected technologies so that a) they adopt these technologies early during their learning stage b) and after their PU or Graduation they are well-versed in these technologies to learn further or land a job.
    </p>
    <p>
        Students learn mostly these technologies covering:- HTML, CSS (Tailwind), Javascript, Typescript, Ruby, Ruby on Rails, VueJS, NuxtJS, VueRouter, Pinia, Jest, Vite, JSON, REST APIs, Firebase, SQL, PostgreSQL, CouchDB, Golang, Rust, Ethereum, and Hyperledger.
    </p>
    <p>
        The courses taught under <span class="font-bold">Free Tech Education</span> are not part of any college or university curriculum, and are 100% dependent on the sponsors. If you are interested in sponsoring, this nice FREE live in-person (offline and online) educational training, either directly or under your corporate's CSR initiative then you can <a href="mailto:sponsor@freetecheducation.org" class="hover:underline">contact us</a> by sending us an email. 
    </p>
  </section>
</footer>
